/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.body{
  padding-bottom: 3%;
}
.full_size{
  width: 100%;
  height: 100%;
}
.full_sizeAudio{
  width: 100%;
  margin-top: 4%;
}